  <div class="container d-flex flex-column justify-content-center text-center">
    <h1>Booking Confirmed!</h1>
    <!-- photo - not sure if will work with the below syntax -->
    <%= cl_image_tag(@worker.photo.key, class: "avatar card-avatar-bigger") %>
    <!-- name does work -->
    <h1><%= @job.handylady.name %></h1>
    <!-- rating not sure if will work -->
    <% worker.star_rating.times do %>
      <i class="fas fa-star"></i>
    <% end %>
    <!-- booked time - ruby syntax issue? -->
    <h3>{31st Dec 12:00h}</h3>
    <!-- price - ruby syntax issue? -->
    <h3><%= worker.hourly_price %>€/h</h3>
  </div>

  <div>
    <!-- not sure where to find this and syntax -->
    <p>{description of issue}</p>
    <!-- not sure where to find this and syntax -->
    <h4>{adress of client}</h4>
  </div>
