<div class="footer">
  <!-- <div class="line-above"></div> -->
  <div class="container d-flex justify-content-between align-items-center" >
      <%= link_to '<i class="fas fa-home"></i>'.html_safe, home_path, class: "footer-link mx-auto" %>
      <% if user_signed_in? %>
        <%= link_to '<i class="far fa-user-circle"></i>'.html_safe, worker_path(current_user.id), class: "footer-link-middle mx-auto" %>
        <%= link_to '<i class="far fa-comments"></i>'.html_safe, user_messages_path(current_user.id), class: "footer-link mx-auto" %>
      <% end %>
  </div>
  <!-- <div class="rectangle"></div> -->
</div>
