<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

    <%= link_to "HandyLadies", root_path, class: "home-button-navbar" %>

    <!-- Change link below to go to profile/login page when ready -->
    <a href="#" class="home-button-navbar"><i class="far fa-user-circle"></i></a>

</div>
