<div class="homepage-container">
  <div class="location">
    <h4>Barcelona <i class="fas fa-map-marker-alt"></i></h4>
  </div>

  <br>

  <div class="homepage-text">
    <h2>Get help from a female professional, from plumbing to construction</h2>
  </div>

  <div class="homepage-circles-container">
    <div class="homepage-circles-strip-outer">
      <div class="homepage-circle-box">
        <div class="homepage-circle">
          Electrictian
        </div>
      </div>
      <div class="homepage-circle-box">
        <div class="homepage-circle">
        Assembler
        </div>
      </div>
    </div>
    <div class="homepage-circles-strip-inner">
      <div class="homepage-circle-box">
        <div class="homepage-circle">
          Tiler
        </div>
      </div>
      <div class="homepage-circle-box">
        <div class="homepage-circle center">
          Other...
        </div>
      </div>
      <div class="homepage-circle-box">
        <div class="homepage-circle">
          Carpenter
        </div>
      </div>
    </div>
    <div class="homepage-circles-strip-outer">
      <div class="homepage-circle-box">
        <div class="homepage-circle">
          Painter
        </div>
      </div>
      <div class="homepage-circle-box">
        <div class="homepage-circle">
          Plumber
        </div>
      </div>
    </div>
  </div>

<!-- This will become an actual search bar eventually -->

  <div class="search-bar">
    <%= form_tag workers_path, method: :get do %>
      <%= select_tag :query,
        options_from_collection_for_select(Skill.all, "id", "name"),
        class: "form-control",
        placeholder: "Search by skill..."
      %>
      <%= submit_tag "Search!", class: "btn btn-primary" %>
    <% end %>
  </div>




</div>
