<<<<<<< HEAD
=======

<div class="homepage-container">

>>>>>>> master
  <div class="location">
    <h1>Barcelona</h1><i class="far fa-location"></i>
  </div>

  <br>

  <div class="homepage-text">
    Get help from a female professional, from plumbing to construction
    <p>Barcelona</p>
  </div>

  <div class="homepage-circles-container">
    <div class="homepage-circles-strip-outer">
      <div class="homepage-circle-box">
        <div class="homepage-circle">
          Electrictian
        </div>
      </div>
      <div class="homepage-circle-box">
        <div class="homepage-circle">
        Assembler
        </div>
      </div>
    </div>
    <div class="homepage-circles-strip-inner">
      <div class="homepage-circle-box">
        <div class="homepage-circle">
          Tiler
        </div>
      </div>
      <div class="homepage-circle-box">
        <div class="homepage-circle center">
          Other...
        </div>
      </div>
      <div class="homepage-circle-box">
        <div class="homepage-circle">
          Carpenter
        </div>
      </div>
    </div>
    <div class="homepage-circles-strip-outer">
      <div class="homepage-circle-box">
        <div class="homepage-circle">
          Painter
        </div>
      </div>
      <div class="homepage-circle-box">
        <div class="homepage-circle">
          Plumber
        </div>
      </div>
    </div>
  </div>

<!-- This will become an actual search bar eventually -->
  <div class="search-bar">
    I need something more specific...
  </div>

  <div class="available-now">
    Ladies available now
  </div>

</div>
