<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="homepage-container">

  <div class="homepage-circles-container">
    <div class="homepage-circles-strip-outer">
      <div class="homepage-circle-box">
        <div class="homepage-circle">
          Electrictian
        </div>
      </div>
      <div class="homepage-circle-box">
        <div class="homepage-circle">
          Assembler
        </div>
      </div>
    </div>
    <div class="homepage-circles-strip-inner">
      <div class="homepage-circle-box">
        <div class="homepage-circle">
          Tiler
        </div>
      </div>
      <div class="homepage-circle-box">
        <div class="homepage-circle center">
          Other...
        </div>
      </div>
      <div class="homepage-circle-box">
        <div class="homepage-circle">
          Carpenter
        </div>
      </div>
    </div>
    <div class="homepage-circles-strip-outer">
      <div class="homepage-circle-box">
        <div class="homepage-circle">
          Painter
        </div>
      </div>
      <div class="homepage-circle-box">
        <div class="homepage-circle">
          Plumber
        </div>
      </div>
    </div>
  </div>

</div>
