<div class="splash-container">

  <div class="splash-title">
    <h1>HandyLadies</h1>
  </div>
     <div class="splash-phrase">
      <h2>Get help from a female professional from plumbing to construction...</h2>
    </div>

    <div class="splash-photo">
      <img src="https://res.cloudinary.com/dmkfulpzp/image/upload/v1608114599/3542833_jpa0uh.jpg" alt="Nature" id="woman" >
    </div>

    <div class="splash-button">
      <%= link_to "GET STARTED", home_path, class: "button button-primary submit-btn btn-block text-centered", data: {turbolinks: "false"}%>
    </div>
  <div class="splash-line"></div>
</div>
