<div class="card-worker mt-3">
  <%= cl_image_tag(worker.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face) %>
  <div class="card-worker-infos flex-box">
    <div class="card-price">
      <h3><%= worker.name %></h3>
      <h3>From <%= worker.hourly_price %>$</h3>
    </div>

    <div class="stars-and-info">
      <div class="stars">
        <% worker.star_rating.times do %>
          <i class="fas fa-star"></i>
        <% end %>
      </div>

      <div class="mt-2">
        <p>3km from your place</p>
        <% worker.skills.each do |skill| %>
        <span class="pill"><%= skill.name %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>


