<h2 class="text-center"><span style="color:#FFAAAF">Ladies</span> who match your criteria</h2>
<div class="d-flex flex-column justify-content-center">
  <% @workers.each do |worker| %>
    <%= link_to worker_path(worker), class: "worker-card-container d-flex justify-content-center" do %>
      <%= render "worker_card", worker: worker %>
    <% end %>
  <% end %>
</div>


