<h2><span style="color:#FFAAAF">Ladies</span> who match your criteria</h2>
<div class="container">
  <% @workers.each do |worker| %>
    <%= render "worker_card", worker: worker %>
  <% end %>
</div>
