<div class="container">
  <div class="d-flex">
    <div>
    <h1>Hi, I'm Maria</h1>
    <p>Joined in january, 2020</p>
    </div>

    <div class="avatar">
      <p>avatar</p>
    </div>
  </div>

  <div>
    <p>Identity verified</p>
    <p>#{number_of_reviews} reviews</p>
    <p>#{price_per_hour}</p>
  </div>

  <div>
    <h1>About</h1>
    <p>#{description} Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui ipsa accusantium doloribus sed corporis labore soluta, illo odio maiores quo provident modi delectus exercitationem, quibusdam eos hic magnam enim non!</p>
    <p>Lives in #{location}</p>
  </div>

  <div class="pills d-flex">
    <div>Painter</div>
    <div>Painter</div>
    <div>Painter</div>
    <div>Painter</div>
    <div>Painter</div>
  </div>

  <div class="reviews d-flex">
    <div class="avatar">
      <p>Avatar</p>
    </div>

    <div class="review-information">
      <div>
        <h3>Maria is absolutely amazing</h3>
          <div class="stars d-flex">
            <p>Start</p>
            <p>Start</p>
            <p>Start</p>
            <p>Start</p>
            <p>Start</p>
          </div>
        <p>Lucia on #{date}</p>
      </div>

      <div>
        <h3>Maria is absolutely amazing</h3>
          <div class="stars d-flex">
            <p>Start</p>
            <p>Start</p>
            <p>Start</p>
            <p>Start</p>
            <p>Start</p>
          </div>
        <p>Lucia on #{date}</p>
      </div>

      <div>
        <h3>Maria is absolutely amazing</h3>
          <div class="stars d-flex">
            <p>Start</p>
            <p>Start</p>
            <p>Start</p>
            <p>Start</p>
            <p>Start</p>
          </div>
        <p>Lucia on #{date}</p>
      </div>

      <div class="works">
        <h1>#{lady.name} works</h1>
        <div class="portfolio d-flex">
          <div class="picture">
            <p>Picture 1</p>
          </div>
          <div class="picture">
            <p>Picture 2</p>
          </div>
        </div>

        <div class="portfolio d-flex">
          <div class="picture">
            <p>Picture 1</p>
          </div>
          <div class="picture">
            <p>Picture 2</p>
          </div>
        </div>

        <div class="portfolio d-flex">
          <div class="picture">
            <p>Picture 1</p>
          </div>
          <div class="picture">
            <p>Picture 2</p>
          </div>
        </div>
      </div>
      
    </div>
  
  </div>
</div>