<div class="container m-3">
  <div class="d-flex mt-4">
    <div>
    <h1 class="p-0 m-0">Hi, I'm Maria</h1>
    <p>Joined in january, 2020</p>
    </div>

    <div class="avatar pl-5">
      <%# athiley -> we need to replace this image with ruby code and set the user.image instead %>
      <img class="card-avatar-bigger" src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="Blond woman">
    </div>
  </div>

  <div class="pt-3 pb-4">
    <h4>Identity verified</h4>
    <h4>#{number_of_reviews} reviews</h4>
    <h4>#{price_per_hour}</h4>
  </div>

  <div class="pb-3 mr-3 mt-2">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui ipsa accusantium doloribus sed corporis labore soluta.</p>
    <h4>Lives in #{location}</h4>
  </div>

  <div class="d-flex mb-5">
    <pill>Painter</pill>
    <pill>Painter</pill>
    <pill>Painter</pill>
    <pill>Painter</pill>
    <pill>Painter</pill>
  </div>

  <div class="rev">
    <h2>Maria's reviews #{rating/5}</h2>
    
  </div>
  
  <div class="reviews d-flex">
    <div class="avatar mr-4">
      <%# athiley -> we need to replace this image with ruby code and set the user.image instead %>
      <img class="card-avatar" src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="Blond woman">
    </div>

    <div class="review-information">
      <div>
        <h3>Maria is absolutely amazing</h3>
        <div class="stars d-flex">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>Lucia on #{date}</p>
      </div>
    </div>
  </div>


  <div class="reviews d-flex">
    <div class="avatar mr-4">
      <%# athiley -> we need to replace this image with ruby code and set the user.image instead %>
      <img class="card-avatar" src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="Blond woman">
    </div>

    <div class="review-information">
      <div>
        <h3>Maria is absolutely amazing</h3>
        <div class="stars d-flex">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>Lucia on #{date}</p>
      </div>
    </div>
  </div>

  <div class="reviews d-flex">
    <div class="avatar mr-4">
      <%# athiley -> we need to replace this image with ruby code and set the user.image instead %>
      <img class="card-avatar" src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="Blond woman">
    </div>

    <div class="review-information">
      <div>
        <h3>Maria is absolutely amazing</h3>
        <div class="stars d-flex">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>Lucia on #{date}</p>
      </div>
    </div>
  </div>

  <div class="works mt-5">
    <h1>#{lady.name} works</h1>
    <div class="portfolio d-flex">
      <div class="picture">
        <p>Picture 1</p>
      </div>
      <div class="picture">
        <p>Picture 2</p>
      </div>
    </div>

    <div class="portfolio d-flex">
      <div class="picture">
        <p>Picture 1</p>
      </div>
      <div class="picture">
        <p>Picture 2</p>
      </div>
    </div>

    <div class="portfolio d-flex">
      <div class="picture">
        <p>Picture 1</p>
      </div>
      <div class="picture">
        <p>Picture 2</p>
      </div>
    </div>
  </div>
</div>