<div class="container">
  <div class="d-flex">
    <div>
    <h1>Hi, I'm Maria</h1>
    <p>Joined in january, 2020</p>
    </div>

    <div class="avatar">
      <%# athiley -> we need to replace this image with ruby code and set the user.image instead %>
      <img class="card_avatar" src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="Blond woman">
    </div>
  </div>

  <div>
    <p>Identity verified</p>
    <p>#{number_of_reviews} reviews</p>
    <p>#{price_per_hour}</p>
  </div>

  <div>
    <h1>About</h1>
    <p>#{description} Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui ipsa accusantium doloribus sed corporis labore soluta, illo odio maiores quo provident modi delectus exercitationem, quibusdam eos hic magnam enim non!</p>
    <p>Lives in #{location}</p>
  </div>

  <div class="pills d-flex">
    <div>Painter</div>
    <div>Painter</div>
    <div>Painter</div>
    <div>Painter</div>
    <div>Painter</div>
  </div>

  <div class="reviews d-flex">
    <div class="avatar">
      <%# athiley -> we need to replace this image with ruby code and set the user.image instead %>
      <img class="card_avatar" src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="Blond woman">
    </div>

    <div class="review-information">
      <div>
        <h3>Maria is absolutely amazing</h3>
        <div class="stars d-flex">
          <p>Start</p>
          <p>Start</p>
          <p>Start</p>
          <p>Start</p>
          <p>Start</p>
        </div>
        <p>Lucia on #{date}</p>
      </div>
    </div>
  </div>


  <div class="reviews d-flex">
    <div class="avatar">
      <%# athiley -> we need to replace this image with ruby code and set the user.image instead %>
      <img class="card_avatar" src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="Blond woman">
    </div>

    <div class="review-information">
      <div>
        <h3>Maria is absolutely amazing</h3>
        <div class="stars d-flex">
          <p>Start</p>
          <p>Start</p>
          <p>Start</p>
          <p>Start</p>
          <p>Start</p>
        </div>
        <p>Lucia on #{date}</p>
      </div>
    </div>
  </div>

  <div class="reviews d-flex">
    <div class="avatar">
      <%# athiley -> we need to replace this image with ruby code and set the user.image instead %>
      <img class="card_avatar" src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="Blond woman">
    </div>

    <div class="review-information">
      <div>
        <h3>Maria is absolutely amazing</h3>
        <div class="stars d-flex">
          <p>Start</p>
          <p>Start</p>
          <p>Start</p>
          <p>Start</p>
          <p>Start</p>
        </div>
        <p>Lucia on #{date}</p>
      </div>
    </div>
  </div>

  <div class="works">
    <h1>#{lady.name} works</h1>
    <div class="portfolio d-flex">
      <div class="picture">
        <p>Picture 1</p>
      </div>
      <div class="picture">
        <p>Picture 2</p>
      </div>
    </div>

    <div class="portfolio d-flex">
      <div class="picture">
        <p>Picture 1</p>
      </div>
      <div class="picture">
        <p>Picture 2</p>
      </div>
    </div>

    <div class="portfolio d-flex">
      <div class="picture">
        <p>Picture 1</p>
      </div>
      <div class="picture">
        <p>Picture 2</p>
      </div>
    </div>
  </div>
</div>