.button {
  padding: 16px 24px;
  border: 2px solid $primary;
  border-radius: 5px;
  font-weight: bold;
}

.button-primary {
    background-color: $primary;
    border: $primary;
    color: white;
}

.submit-btn{
  flex-grow: 1;
  // margin-left: 8px;
  border: 2px solid $primary;
}

.accept {
  background-color: #7ED1A9;
  color: white;
}

.reject  {
  background-color: #EF7E65;
  color: white;
}

.rejected {
  background-color: #EC512F;
  padding: 3px 5px;
  margin-top: 3px;
  border-radius: 3px;
}

.accepted {
  background-color: #7ED1A9;
  padding: 3px 5px;
  margin-top: 3px;
  border-radius: 3px;
}

.pending {
  background-color: rgb(204, 204, 7);
  padding: 3px 5px;
  margin-top: 3px;
  border-radius: 3px;
}

.get-started {
  padding: 16px 24px;
  border-radius: 5px;
  font-weight: bold;
  position: center;
  align-items: center;

}

.form-buttons {
  text-align: center;
}


.submit-btn:hover {
  color: white;
  text-decoration: none;
  background-color: #dc2a35;
  border-color: #dc2a35;
}

.signup-btn {
  background-color: white !important;
  border: 1px solid #FF4F5A !important;
  color: #FF4F5A !important;
  margin-top: 10px;
}
