h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 25px;
  color: #253F47;
  font-weight: bold;
}

h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  color: #253F47;
  font-weight: bold;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #385A64;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #253F47;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: white;
  background-color: #FFAAAF;
}

pill {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  background-color: #FF4F5A;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  margin-right: 5px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: light;
  font-size: 16px;
  color: #253F47;
}

cards-p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #637C84;
}

.navbar-text {
  font-family: Comfortaa;
  font-size: 15;
  color: #1A2E35 !important;
  a {
    color: #1A2E35 !important;
  }
}
