h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 25px;
  color: #253F47;
  font-weight: bold;
}

h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  color: #253F47;
  font-weight: bold;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #385A64;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #253F47;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: white;
  background-color: #FFAAAF;
}


p {
  font-family: 'Open Sans', sans-serif;
  font-weight: light;
  font-size: 16px;
  color: #253F47;
}

cards-p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #637C84;
}

.circle-links {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: white;
}

.fa-check-circle {
  color: $primary;
}
