.footer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  margin-top: 30px;
}

.footer-link {

}

.footer-link-middle {

}
