input {
    overflow: hidden;
}

.form-group {
  margin-bottom: 2rem;
}

.form-control{
    background-color: #f2f2f2;
    border-radius: 8px;
    border: 0;
    height: 50px;
    margin-bottom: 20px;
}

textarea.form-control {
    height: 100px;
}

.form-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

label{
    font-weight: bold;
    color: #385A64;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

#new_job{
    margin-top: 10px;
}
