.homepage-circles-container {
  display: flex;
}

.homepage-circles-strip-outer {
  padding-top: 50px;
}

.homepage-circles-strip-inner {

}

.homepage-circle-box {
  text-align: center;
}

.homepage-circle {
  background-color: #FFAAAF;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
