.homepage-circles-container {
  display: flex;
  justify-content: center;
  margin: 50px 0px 50px 0px;
}

.homepage-circles-strip-outer {
  padding-top: 50px;
}

.homepage-circles-strip-outer a {
  color: #FFFFFF;
  text-decoration: none;
}

.homepage-circles-strip-inner a {
  color: #FFFFFF;
  text-decoration: none;
}

.homepage-circle-box {
  text-align: center;
  justify-content: space-around;

}

.homepage-circle {
  background-color: #FFAAAF;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  color: white;
  margin: 5px;
  font-family: Open sans;
  font-weight: bold;
  font-size: 13px;


}

.homepage-circle a {
  color: #FFFFFF;
  text-decoration: none;
}

.homepage-circle:hover {

  box-shadow: 0 0 5px 3px #c2c1be;
  transition: box-shadow 1,5s ease-in-out;


}

