.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.avatar-navbar {
  flex-basis: auto;
}

.navbar {
  padding: 20px 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.home-button-navbar {
  font-family: Comfortaa;
  font-size: 15px;
  text-decoration: none;
  color: #1A2E35 !important;
  a {
    color: #1A2E35 !important;
    text-decoration: none;
  }
}
.dropdown-toggle{
    font-family: Comfortaa;
    font-size: 15px;
    text-decoration: none;
    color: #1A2E35 !important;
    a {
      color: #1A2E35 !important;
      text-decoration: none;
  }
}

.nav-link {
  color: #1A2E35 !important;
}
