.search-bar {
  display: flex;
  position: relative;
}

.search-form {
  width: 100%;
  .form-control {
    border-radius: 50px;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
}

.sb {
    border-radius: 50px !important;
    position: absolute;
    text-align: right;
    top: 5px;
    right: 7px;
    width: 40px;
    height: 40px;
}

.sbb {
  color: white !important;
  font-size: 15px !important;
  right: 10px;
}

