.search-bar {
  display: flex;
  position: relative;
}

.search-form {
  width: 100%;
  .form-control {
    border-radius: 50px;
  }
}

  .search-button {
  position: absolute;
  text-align: right;
  top: 5px;
  left: 330px;
}

.fa-search {
  color: white !important;
  font-size: 15px !important;
}

.sb {
  border-radius: 50px !important;
}
