.search-bar {
  display: flex;
  position: relative;
}

.search-form {
  .form-control {
    border-radius: 50px;
  }
}

.sb {
  border-radius: 50px !important;
  position: absolute;
  text-align: right;
  top: 8px;
  left: 335px;
  width: 35px;
  height: 35px;
}

.sbb {
  color: white !important;
  font-size: 15px !important;
  right: 10px;
}
