.splash-button  {
  margin-top: 100px;
  padding: 16px 24px;
  border-radius: 5px;
  font-weight: bold;
  position: center;
  padding-top: 10px;
}

.splash-button > a {
  margin-left: 0;
  text-align: center;
}

.splash-button > a:visited{
  color:white;
  text-decoration: none;
}

#woman {
width: 100%;
position: relative;
padding-top: 20px;
padding-bottom: 15px;
height: 100%;
object-fit: contain;
}

.splash-phrase > h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 25px;
  color: #FF4F5A;
  font-weight: bold;
  text-align: center;
}

.splash-title > h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 45px;
  color: #253F47;
  font-weight: bold;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.splash-line {
  width: 150px;
  height: 5px;
  background-color: $primary;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 3px;
  margin-bottom: 6px;
}

.splash-photo {
  height: 40vh;
}
