.worker-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fa-check-circle {
  color: green;
  font-size: 15px;
}

.pictures {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  width: 100%;
  img {
    margin: 0 auto 20px;
  }
}

